@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "linkedin";
  default: true;
  --color-primary: #0A66C2;
  --color-primary-content: #dfc3c3;
  --color-secondary: #ffffff;
  --color-secondary-content: #0A66C2;
  --color-accent: #7FC15E;
  --color-accent-content: #ffffff;
  --color-neutral: #000000;
  --color-neutral-content: #ffffff;
  --color-base-100: #F3F2EF;
  --color-base-content: #000000;
  --color-base-200: #ffffff;
  --color-info: #5E5E5E;
  --color-success: #057642;
  --color-warning: #F5C75D;
  --color-error: #CC1016;
}

